.root{

  .title{
    margin-bottom: 1rem;
  }

  .seasonsList{
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 0.5rem;
    justify-content: center;

    @media screen and (max-width: 576px) {
      gap: 6px;
    }

    @media screen and (max-width: 360px) {
      grid-template-columns: repeat(1, minmax(150px, 1fr));
    }
  }
}