.root{
  display: flex;
  justify-content: space-between;
  height: 2rem;
  &:hover {
    cursor: pointer;
    background-color: rgba(7, 7, 7, 0.25);
  }
  &__itemTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon{
      width: 1.5rem;
      display: flex;
      justify-content: center;
    }
    &__name{}
  }
  &__itemValue{
    display: flex;
    align-items: center;
    padding-right: 1rem;
  }
}