.root{

  .details{
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 576px){
      gap: 0.5rem;
    }

    .poster{
      width: 230px;
      height: 300px;
      min-width: 230px;
      min-height: 300px;
      position: relative;

      @media screen and (max-width: 576px){
        width: 120px;
        height: 150px;
        min-width: 120px;
        min-height: 150px;
      }

      img{
        width: 100%;
        height: 100%;
      }
    }

    .info {
      .title {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 5px;
        color: var(--text-color-light);

        @media screen and (max-width: 576px) {
          font-size: 18px;
        }
      }

      .releaseYear {
        margin-bottom: 5px;

        small {
          color: var(--text-color-soft);
          font-size: 14px;
        }
      }

      .descriptionDesktop{
        display: block;
        line-height: 20px;

        @media screen and (max-width: 576px) {
          display: none;
        }

        p{
          @media screen and (max-width: 576px){
            font-size: 14px;
          }
        }
      }
    }
  }

  .descriptionMobile{
    line-height: 20px;
    display: none;

    @media screen and (max-width: 576px) {
      display: block;
    }

    p{
      @media screen and (max-width: 576px){
        font-size: 14px;
      }
    }
  }

}