.root{
  height: 100%;
  background-color: var(--bgc-page);
  padding: 0.5rem;

  @media screen and (max-width: 576px){
    padding: 5px;
  }

  .pageTitle{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0.5rem;
    color: var(--text-color-light);
    grid-column: 1 / -1;

    @media screen and (max-width: 576px) {
      font-size: 18px;
      text-align: center;
    }
  }
}