.root{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;

  .releaseDateName{
    font-size: 14px;
    color: var(--text-color-soft);
  }
  .releaseDateValue{}
}