.root{
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 576px){
    width: 100%;
  }

  .releaseDateName{
    font-size: 14px;
    color: var(--text-color-soft);
  }
  .releaseDateValue{}
}