.root{
  height: 100%;
  display: flex;
  gap: 8px;
  padding: 0.5rem;
  background-color: var(--bgc-page);

  @media screen and (max-width: 576px){
    padding: 5px;
  }

  @media screen and (max-width: 768px){
    display: block;
    gap: 0;
  }

  .episodeInfo{
    flex: auto;

    .pageTitle{
      margin-bottom: 0.5rem;
    }

    .releaseDate{
      margin: 0.5rem 0 0.5rem auto;
      width: 200px;

      @media screen and (max-width: 576px){
        width: 100%;
      }
    }

    .episodeTitle{
      margin-bottom: 0.5rem;
    }
  }
}