.root{
  height: 7px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover .timeline{
    height: 100%;
  }

  &:hover .timeline .thumbIndicator{
    --scale: 1;
  }
  &:hover .timeline .previewTime{
    display: block;
  }

  &:hover .timeline:before{
    display: block;
  }

  .timeline{
    background-color: rgba(100,100,100,.5);
    height: 3px;
    width: 100%;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: calc(100% - var(--preview-position) * 100%);
      background-color: rgb(150, 150, 150);
      display: none;
    }

    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: calc(100% - var(--progress-position) * 100%);
      background-color: red;
    }

    .previewTime {
      display: none;
      position: absolute;
      padding: 0.25rem 1rem;
      transform: translateX(-50%);
      bottom: 200%;
      left: calc(var(--preview-position) * 100%);
      background-color: rgba(45, 45, 45, 0.47);
      color: #c9c9c9;
      border-radius: 0.25rem;
    }

    .thumbIndicator{
      --scale: 0;
      position: absolute;
      transform: translateX(-50%) scale(var(--scale));
      height: 200%;
      top: -50%;
      left: calc(var(--progress-position) * 100%);
      background-color: red;
      border-radius: 50%;
      transition: transform 150ms ease-in-out;
      aspect-ratio: 1 / 1;
    }
  }
}



