.root{
  height: 100%;
  background-color: var(--bgc-page);
  padding: 0.5rem;

  h1{
    font-size: 22px;
    color: var(--text-color-light);
  }

  p{
    margin: 1rem 0;
    text-indent: 2rem;
    line-height: 20px;
  }
}